.App {
  text-align: center;
}
p,
li,
ul,
ol,
h1,
h2 {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.back-home {
  position: absolute;
  z-index: 99;
  right: 30px;
  bottom: 30px;
}

.container-entrance {
  width: 300px;
  margin: 0 auto;
}
.container-entrance form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container-entrance .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-entrance label {
  font-size: 13px;
}
.container-entrance input[type='text'],
.container-entrance input[type='password'],
.container-entrance select {
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
}
.container-entrance input[type='submit'] {
  width: 100%;
  height: 40px;
  background-color: #333;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin: 20px 0 0 0;
  cursor: pointer;
  text-transform: uppercase;
}
